---
---

@import "{{ site.theme }}";

header h1 {
  color: #6f76ab;
}

h2 {
  color: #6f76ab;
}

h3 {
  color: #6f76ab;
}

a {
  color: #6f76ab;
  font-weight: 600;
}

p a {
  color: #6f76ab;
  font-weight: 600;
}

a:hover {
  color: #90a959;
}

blockquote {
  border-left: 10px solid #6f76ab;
}