---
---

@import "{{ site.theme }}";

header h1 {
  color: #6f76ab;
}

a {
  color: #6f76ab;
  font-weight: 600;
}

p a {
  color: #6f76ab;
  font-weight: 600;
}

a:hover {
  color: #90a959;
}

blockquote::before {
  content: "\201C";
  color: black;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}